<div {{ attr(attributes) }}></div>

{% if sprig.isRequest() ?? false %}
    <script>
        if (typeof renderTurnstile === 'function') {
            renderTurnstile('{{ attributes.id }}');
        }
    </script>
{% endif %}
